archive/*
0_raw_data/Ee*
0_raw_data/genome_assembly
1_QC/archive/*
1_QC/SolexaTrim/*
1_QC/SolexaQA/*
1_QC/fastQC_raw/*
1_QC/trimmed/*
1_QC/fastQC_trimmed/*
2_salmon/transcriptome/*
2_salmon/trial_salmon_solexa_star/*
2_salmon/trial_salmon_trim_star/*
2_salmon/salmon_quant_basic/*
2_salmon/salmon_quant/*
2_salmon/E.elymi_DEseq2_trial/*
3_DESeq2/*/*.txt
3_DESeq2/*.txt
3_DESeq2/*.R*
4_cluster_identification/*
trial/1_QC/*
trial/2_salmon/*
*.fna
*.csv
*.ods
.Rproj.user
