0_raw_data/Ee*
0_raw_data/genome_assembly
1_QC/E.elymi/*
1_QC/Ee_SolexaQA/*
2_star_mapping/_STARgenome/*
2_star_mapping/_STARtmp/*
2_star_mapping/genomes/*
2_star_mapping/logs/*
2_star_mapping/mappedfiles/*
2_star_mapping/R_mapping_exploratory_analysis/*
.Rproj.user
